MailApp/Solution/Workflows/Sendusertrackinginformation-51CA2D79-E052-EC11-8F8E-000D3AE9AC38.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ma_sharedoffice365_67a57"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ma_sharedcommondataserviceforapps_08d70"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"456e0ef8-2296-4b9e-bc90-2d1950ec5813"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"ma_courierrequest","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ma_email,ma_name,ma_courierrequestid","subscriptionRequest/filterexpression":"(ma_courierstatus eq 953960002)"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_an_email_(V2)":{"runAfter":{"Add_border":["Succeeded"]},"metadata":{"operationMetadataId":"fbcea13f-fc6f-47d1-86ce-4d1ca73aa338"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/ma_email']","emailMessage/Subject":"Your courier request has been processed / Votre demande de courier à été traité","emailMessage/Body":"<p>Your outgoing courier request# @{triggerOutputs()?['body/ma_name']} has been processed. <br>\nHere is the tracking information:@{outputs('Add_border')}<br>\n<br>\n***********************************************************************<br>\n<br>\n<br>\nVotre demande de courier# @{triggerOutputs()?['body/ma_name']} à été traité. &nbsp;<br>\nVoici l'information de repérage:@{outputs('Add_border')}<br>\n<br>\nMRAP</p>","emailMessage/From":"PowerAppsCenterOfExcellence-PowerAppsCentreDExcellence@tc.gc.ca","emailMessage/Sensitivity":"b5bbdc02-cb35-4d29-b911-7fc063a80903"},"authentication":"@parameters('$authentication')"}},"List_Tracking_Info":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"22dcce46-f74a-4af4-acf2-60ec06e1378f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ma_packagetrackings","$select":"ma_trackingnumber,ma_name","$filter":"(_ma_courierrequest_value eq @{triggerOutputs()?['body/ma_courierrequestid']})","$expand":"ma_Provider($select=name)"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"20ffda44-efad-467f-a435-049bd6788a70"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Trackings","type":"array"}]}},"Create_HTML_table":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"4a3efc46-86ef-4d66-8e9d-37c0353656c0"},"type":"Table","inputs":{"from":"@variables('Trackings')","format":"HTML","columns":[{"header":"Recipient/Destinataire","value":"@item()?['Recipient']"},{"header":"Provider/Fournisseur","value":"@item()?['Provider']"},{"header":"Tracking Number/Numéro de repérage","value":"@item()?['Tracking Number']"}]}},"Apply_to_each":{"foreach":"@outputs('List_Tracking_Info')?['body/value']","actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"1e8567ef-916d-4e37-b090-fe293b40131d"},"type":"Compose","inputs":{"Recipient":"@items('Apply_to_each')?['ma_name']","Provider":"@items('Apply_to_each')?['ma_provider/name']","Tracking Number":"@items('Apply_to_each')?['ma_trackingnumber']"}},"Append_to_array_variable":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"e9ef2e8a-748a-4786-a090-8513511b42e4"},"type":"AppendToArrayVariable","inputs":{"name":"Trackings","value":"@outputs('Compose')"}}},"runAfter":{"List_Tracking_Info":["Succeeded"]},"metadata":{"operationMetadataId":"589d5c2c-f4a7-4e2b-9b81-05a049ffa7e7"},"type":"Foreach"},"Add_border":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"c06ccb7e-d081-48bd-8267-39a1e3ef2045"},"type":"Compose","inputs":"@replace(replace(replace(body('Create_HTML_table'), '<table>', '<table style=\"padding:5px; width:50%\">'), '<td>', '<td style=\"padding:5px; border:1px solid\">'), '<th>', '<th style=\"padding:5px; border:1px solid\">')"}}}},"schemaVersion":"1.0.0.0"}